:root {
  /* 기본 폰트 사이즈 설정: 10px = 1rem */
  font-size: 10px;

  --primary-100: #3692ff; /*  */
  --brand-200: #1967d6; /*  */
  --brand-300: #1251aa; /*  */
  --secondary-gray900: #111827; /* var(--secondary-gray900, #111827); */
  --secondary-gray800: #1f2937; /* var(--secondary-gray800, #1f2937); */
  --secondary-gray700: #374151; /*  */
  --secondary-gray600: #4b5563; /*  */
  --secondary-gray500: #6b7280; /*  */
  --Cool-Gray-400: #9ca3af; /*  */
  --secondary-gray200: #e5e7eb; /*  */
  --Cool-Gray-100: #f3f4f6; /*  */
  --secondary-gray50: #f9fafb; /* var(--secondary-gray50, #f9fafb); */
  --primary-background: #fcfcfc; /*  */
  --secondary-background: #cfe5ff; /*  */
  --footer-background: ##111827; /*  */
  --errror-color: #f74747; /*  */
  --cool-grey-100: #f3f4f6; /*  */
}

/* 전체 페이지 배경색 설정 */
html,
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #ffffff;
  min-height: 100vh;
}
